@model WebSellingCosmetics.Models.ProductType

@{
    ViewData["Title"] = "Delete";
  
}

<h1>XÓA LOẠI SẢN PHẨM</h1>
<h3>Bạn có chắc là muốn xóa không?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên loại sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           Trạng thái
        </dt>
        @if (Model.Status == 1)
        {
            <dd class="col-sm-10">
                Hoạt động
            </dd>
        }@if (Model.Status == 2)
        {
            <dd class="col-sm-10">
                Ngừng Hoạt động
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <div style="float: left; padding-right:10px">
        <input type="hidden" asp-for="ProductTypeId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <a asp-action="Index" class="btn btn-light">Trở về</a>
    </form>
</div>
